main{
    color: cornsilk;
}

header{
    font-family: "Strait";
}

body{
    text-align: center;
    font-family: 'Strait', sans-serif;
    background: url("images/cosmo.jpeg");
}

.topcontainer, .middlecontainer, .bottomcontainer{
        display:flex;
        margin: 20px;
}
    
.innerbox{
        min-height: 33.33vh; 
        border: 5px solid black;
        flex-grow: 1; 
        flex-shrink:0;
        margin: 20px;
}

.innerbox:hover{
    color: #255784;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
}

div{
    display: flex;
    border: 1px solid black;
    font-size: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    div{
        flex-direction: column;
        max-width: 800px;
        max-height: 600px;
    }
}

.logo{
    background-color: purple;
    font-size: 20px;
    padding: 8px;
    color: cornsilk;
}

.item a{
    font-size: 20px;
    display: flex;
    padding: 8px;
    color: cornsilk;
    text-decoration: none;
}

a:hover{
    color: #255784;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
}

.icon{
    max-width: 50px;
    height:auto;
    background: silver;
    border-radius: 50px;
}


@media screen and (max-width:900px) {
    .cover{
        width: 100%;
        height: auto;
    }
}

#about-me{
    height: 50vh;
    box-sizing: border-box;
    background: rgba(192, 192, 192, 0.5);
    padding-top: 30px;
}

#my-course{
    height: 50vh;
    box-sizing: border-box;
    background: rgba(192, 192, 192, 0.5);
    padding-top: 30px;
}

#contact-me {
    background: rgba(192, 192, 192, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h2 {
    text-shadow: 0 0 20px purple;
}