main{
    color: cornsilk;
    font-size: 20px;
    overflow: auto;
}

header{
    font-family: "Strait";
}

body{
    text-align: center;
    font-family: 'Strait', sans-serif;
    background: url("images/cosmo.jpeg");
}

footer{
    position: relative;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
}

.grid-item a{
    text-decoration: none;
}

.grid-item{
    border: 2px solid black;
}

.grid-item-5{
    background-image: url("images/tableaudemo.png");
}

.grid-item-6{
    background-image: url("images/business.png");
}

.grid-item:hover{
    color: #255784;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
}

div{
    display: flex;
    font-size: 40px;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    div{
        flex-direction: column;
        max-width: 800px;
        max-height: 600px;
    }
}

.logo{
    background-color: purple;
    font-size: 20px;
    padding: 8px;
    color: cornsilk;
}

.item a{
    font-size: 20px;
    display: flex;
    padding: 8px;
    color: cornsilk;
    text-decoration: none;
}

a:hover{
    color: #255784;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
}

.icon{
    max-width: 50px;
    height:auto;
    background: silver;
    border-radius: 50px;
}


@media screen and (max-width:900px) {
    .cover{
        width: 100%;
        height: auto;
    }
}

#about-me{
    height: 90vh;
    background: rgba(192, 192, 192, 0.5);
    padding: 30px;
}

#my-course{
    height: 90vh;
    background: rgba(192, 192, 192, 0.5);
    padding: 30px;
}

#contact-me {
    background: rgba(192, 192, 192, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h2 {
    text-shadow: 0 0 20px purple;
    font-size: 40px;
}

ol.rocket {
    list-style-image: url("/images/rocket.png");
}

ol {
    list-style-type: lower-greek;
}