main{
    color: cornsilk;
}

header{
    font-family: "lato";
}

body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    background: url("images/cosmo.jpeg");
}

.topcontainer, .middlecontainer, .bottomcontainer{
        display:flex;
        margin: 20px;
        }
    
.innerbox{
        min-height: 33.33vh; 
        border: 5px solid black;
        flex-grow: 1; 
        flex-shrink:0;
        margin: 20px;
}

div{
    display: flex;
    border: 1px solid black;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    div{
        flex-direction: column;
        max-width: 800px;
        max-height: 600px;
    }
}

.logo{
    background-color: purple;
    font-size: 20px;
    padding: 8px;
    color: cornsilk;
}

.item a{
    font-size: 20px;
    display: flex;
    padding: 8px;
    color: cornsilk;
    text-decoration: none;
}


img{
     width: 10%;
     height: auto;
}

@media screen and (max-width:1400px) {
    .cover{
        width: 100%;
        height: auto;
    }
}

#contact-me{
    background: rgba(192, 192, 192, 0.5);
}

#about-me{
    height: 50vh;
    box-sizing: border-box;
    background: rgba(192, 192, 192, 0.5);
    padding-top: 30px;
}

#my-course{
    height: 50vh;
    box-sizing: border-box;
    background: rgba(192, 192, 192, 0.5);
    padding-top: 30px;
}